

.logo {
    display: inline-block;
    width: 300px;
    height: 150px;

  
}
.btn{
   text-transform: uppercase;
        display: block;
    width: 275px;
    height: 25px;
        background-color: #339966;
      
        color:white;
        text-decoration: none;
        padding: 15px 50px 15px 50px;
        position: absolute;
  left: 75%;
  top: 40px;
     text-align: center;
       
    }

    .btn:hover{
        background-color: #337766;
    }

.navigation {
    box-shadow:  10px 5px 5px rgba(0, 0, 0, 0.5);
  text-align: center;
  

}
.menu {
    list-style: none;

}
.menu-item {
    
    display: inline-block;
  
    font-size: 20px;
    text-transform: uppercase;
   padding-bottom: 20px;
   margin-left: 25px;
}


.menu-item a::before{
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #339966;
    transform-origin: 100%;
    transform:scaleX(0);
    transition: all 0.5s;
}

.menu-item a:hover::before{
    
   transform: scaleX(1);
}
.menu-item a:hover{
    
 color: #339966;
 }

.menu-item a::after{
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #339966;
    transform-origin: 0%;
    transform:scaleX(0);
    transition: all 0.5s;
}

.menu-item a:hover::after{
   transform: scaleX(1);
}

.menu-item a{
    text-decoration: none;
    color: slategray;
    transition: all 0.5s;
}

main{
    background-color: rgb(223, 223, 223);
}
.small-section {
    width: 1800px;
    height: 50px;
    background-color: rgb(83, 81, 81);
   border-radius: 5px;
   margin: 0 auto;
}

.smallsection-paragraf {
 
   color: white;
   font-size: 25px;
   text-align: center;
  padding-top: 10px;
}


.all-divs {
    list-style:none ;
    
}
.all-divs li{
    display: inline-block;
}

.all-divs li:nth-child(19){
    
margin-left: 200px;
}
.all-divs li:nth-child(2){
    margin: 0 auto;

}

.block {
width: 350px;

margin-left: 35px;
margin-top: 35px;
background-color: white;
   transition: all 0.5s;
   padding-bottom: 10px;
}

.block:hover{
  
       box-shadow: 10px 5px 5px rgba(0, 0, 0, .5);
    }
.block-img {
    display: block;
    width: 250px;
    height: 150px;
    margin: 0 auto;
}
.block-title {
    text-align: center;
}

.credit-link {
    display: block;
width: 150px;
height: 25px;
    background-color: #339966;
   
    color:white;
    text-decoration: none;
    padding: 5px 70px 5px 70px;
   margin: 0 auto;
  text-align: center;
  
    border-radius: 5px;
}
.block-info {
    margin-left: 10px;
}
.first-credit{
  margin-left: 165px;
}
.first-credit::before{
    content: '%';
    color: darkgreen;
    margin-right: 10px;
}
.first-credit::after{
    content: '\20B4';
    color: darkgreen;
    display: inline-block;
    margin-left: 10px;
}
.max{
    margin-left: 200px;
}
.max::after{
    content: '20000\20B4';
    margin-left: 5px;
    color: darkgreen;
}
.age{
    margin-left: 210px;
}


.content-button{
    
   
display: block;
width: 150px;
 background-color: #339966;
 color:white;
 text-decoration: none;
 padding: 10px 50px 10px 50px;
 margin: 50px auto;

  
}
.content-button:hover{
    background-color:#337766;;
}


.content {
  

    float: left;
    width: 70%;
        
    }
    .sidebar{
   
        float: right;
        width: 30%;
    
    }
    .sidebar-block{
       
        margin-right:50px;
    }
   
    .sidebar-title {
        display: block;
    width: 200px;
    height:35px;
        color: white;
    text-decoration: none;
    background-image: url(../images/button.png);
    background-size: 175px 35px;
    background-repeat: no-repeat;
    padding-left: 23px;
    padding-top: 7px;
    }
   .sidebar-block:nth-child(2) .sidebar-title{
    background-size: 225px 35px;
   }
   
.sidebar-image{
width: 500px;
height: 360px;

opacity: 1;
transition: all 0.5s;
}

.sidebar-image:hover{
    opacity: 0.3;
}


.last-section {
    width: 1250px;
    margin-left: 50px;
}
.lastsection-headers {
    font-size: 35px;
  
}
.lastsection-paragrafs {
    width: 1200px;
    font-size: 25px;
}

.lastsection-paragraf {
    margin-bottom: 0;
    width: 1200px;
    font-size: 25px;
}

.lastsection-list {
list-style: none;
padding: 0;
font-size: 25px;
}
.lastsectionlist-items{
    transition: all 0.3s;
}
.lastsectionlist-items:hover{
   transform: translateX(25px);
    }


.lastsectionlist-items::before{
    content: '\2714';
    color:#339966;
    font-size: 25px;
    margin-right: 10px;
}


.footer{
    display: flex;
    background-color: rgb(30, 30, 30);
    height: 250px;
}
.row1, .row2{
  
    width: 500px;
  margin-left: 75px;

}


 
    




.footer-title {
    background-image: url(../images/button.png);
    background-size:150px;
   background-repeat: no-repeat;
padding-left: 15px;
    color: white;
  
margin-bottom: 0px;
}
.row1 .footer-title{
   
    background-size:  100px 25px;
}


.footer-link {
    display: block;
    color: white;
    text-decoration: none;
    margin-top: 10px;
   
}

hr{
    margin:0;
}

.footer-paragraf {
    color: grey;
}

.clear{
    clear:both;
}